body {
  margin: 0;
  background: #000;
  font-family: "Apple SD Gothic Neo", sans-serif;
}

.chat-page {
  display: flex;
  justify-content: center;
}

.chat-container {
  width: 480px;
  height: 100vh;
  background: #151516;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 16px;
  background: #151516;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 0.5px solid #666666;
  position: sticky;

  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  gap: 12px; /* 이미지와 텍스트 사이 간격 */
}

.messages-area {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* 기본 버블 */
.bubble {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-line;
  color: #fff;
}

.bubble.bot {
  background: #212122;
  align-self: flex-start;
  border-radius: 0px 24px 24px 24px;
}

.bubble.user {
  background: #7c67ff;
  align-self: flex-end;
  border-radius: 24px 0px 24px 24px;
}

.action {
  opacity: 0.45;
  margin-top: 2px;
  display: block;
}

.typing-bubble {
  background: #3a3a3d;
  padding: 10px 14px;
  border-radius: 12px;
  align-self: flex-start;
  display: flex;
  width: fit-content;
}

.typing-indicator {
  display: flex;
  gap: 4px;
}

.typing-indicator span {
  width: 6px;
  height: 6px;
  background: #888;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
  opacity: 0.3;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.2s;
}
.typing-indicator span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.input-area {
  display: flex;
  align-items: center;
  padding: 12px;
  border-top: 0.5px solid #666;
  gap: 12px;
  background: #151516;
  flex-shrink: 0;
}

.input-wrap {
  flex: 1;
  background: #3a3a3d;
  border: 1px solid #555;
  border-radius: 999px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
}

.chat-input {
  flex: 1;
  min-height: 36px;
  max-height: 150px;
  padding: 12px 16px;
  border-radius: 24px;
  resize: none;
  font-size: 14px;
  line-height: 1.5;
  background-color: #3a3a3d;
  border: 1px solid #555;
  color: #fff;
  overflow-y: auto;
}

.chat-input::placeholder {
  color: #bcbcbc;
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.7;
}

.input-area button {
  width: 36px;
  height: 36px;
  background: #6828ff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

img {
  width: 45px;
  height: 45px;
  justify-content: flex-start;
  border-radius: 50px;
}
